.content {
    max-width: 800px;
    margin: 0 auto;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        mat-form-field {
            width: 100%;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
