<h2>PersonDetail: {{person?.firstname}}</h2>
<div *ngIf="person">
    <div>
        <label for="inputFirstname">Firstname: </label>
        <input id="inputFirstname" class="form-control" type="text" [(ngModel)]="person.firstname" />
    </div>
    <div>
        <label for="inputLastName">LastName: </label>
        <input id="inputLastName" class="form-control" type="text" [(ngModel)]="person.lastname" />
    </div>
    <div>
        <label for="inputGithub">Github account: </label>
        <input id="inputGithub" class="form-control" type="text" [(ngModel)]="person.githubaccount" />
    </div>
    <button class="btn btn-primary" (click)="onSave()">Save</button>
</div>