<h2>PersonDetail: {{person?.firstname}}</h2>
<form name="personForm" (ngSubmit)="onSave()" #personForm="ngForm">
    <div *ngIf="person">
        <div>
            <label for="inputFirstname">Firstname: </label>
            <input id="inputFirstname" name="inputFirstname"
             class="form-control" 
             type="text" [(ngModel)]="person.firstname"
              required #personFirstName="ngModel"/>
        </div>
         <div [hidden]="personFirstName.valid"
             class="alert alert-danger">
          Firstname is required
        </div>
        <div>
            <label for="inputLastName">LastName: </label>
            <input id="inputLastName"name="inputLastName" class="form-control" type="text" [(ngModel)]="person.lastname" />
        </div>
        <div>
            <label for="inputGithub">Github account: </label>
            <input id="inputGithub"name="inputGithub" class="form-control" type="text" [(ngModel)]="person.githubaccount" />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!personForm.form.valid">Save</button>
        <button type="button" class="btn" (click)="onBack()">Cancel</button>
    </div>
</form>