<h2>{{pageTitle}}</h2>
<div class="row mb-2">
    <div class="col-md-2">Search:</div>
    <div class="col-md-6">
        <input type="search" [(ngModel)]="listFilter" class="form-control" />
    </div>
</div>
<div class="row" *ngIf="listFilter">
    <div class="col-md-6">
        <span>Filtered by: {{listFilter}} </span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <table class='table table-striped' *ngIf='personList && personList.length'>
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Github</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of personList | personFilter: listFilter">
                    <td>{{person.firstname}}</td>
                    <td>{{ person.lastname }}</td>
                    <td>
                        <span *ngIf="person.githubaccount">(Github: {{person.githubaccount}})</span>
                        <span *ngIf="!person.githubaccount">-</span>
                    </td>
                    <td>
                        <a class="btn btn-ok" [routerLink]="['/person',  person.id]">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>